 <% const title = product.name %>

 <% const desc = `Cette page présente le produit : ${product.name} - ${product.description}` %>
 
 <%- include('partials/_header', {title,desc}) %>

 <!-- Page Content -->
 <div class="container container-main">

   <div class="row">

     <%- include('partials/_leftMenu', {categoriesCounts}) %>


     <div class="col-lg-9">

       <div class="row">
         <div class="col-lg-6">
           <img class="" src="/images/<%= product.name %>.jpg" alt="Image du produit : <%= product.name %>">
         </div>

         <div class="col-lg-6">
           <div class="card">
             <div class="card-body">
               <h3 class="card-title">
                 <%= product.name %>
                 <div class="badge badge-pill badge-<%= product.category %>"><%= product.category %></div>
               </h3>
               <p class="card-text">Taille: <%= product.size %></p>
               <p class="card-text"><%= product.description %></p>
               <p class="card-text">
                 Note moyenne :
                 <% for (i = 0; i < product.average_note; i++) { %>
                 <%- '&#9733;' %>
                 <% } %>

                 <% for (i = 0; i < 5 - product.average_note; i++) { %>
                 <%- '&#9734;' %>
                 <% } %>
                 <br>
                 <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
               </p>
               <h5><%= product.price %>€</h5>
               <p class="card-text">
                 <a href="/cart/add/<%= product.id %>" class="link-add-cart">+ Ajouter au panier</a>
               </p>
             </div>
           </div>

         </div>

       </div>
       <!-- /.row -->

     </div>
     <!-- /.col-lg-9 -->

   </div>
   <!-- /.row -->

 </div>
 <!-- /.container -->


 <!-- Footer -->
 <footer class="py-5 bg-dark">
   <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; O'Fig 2019 - Toutes les images sont sous Copyright
       SquareEnix</p>
   </div>
   <!-- /.container -->
 </footer>

 <!-- Modale des avis -->
 <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h3 class="modal-title" id="reviewsModalLabel">Avis des internautes</h3>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>

       <% for (review of reviews) { %>

       <div class="modal-body">
         <section>
           <h5><%= review.title %> &nbsp; <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></h5>
           <p class="review-author">par <%= review.author %></p>
           <p><%= review.message %></p>
         </section>

         <hr>

       </div>
       <% } %>

       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
       </div>
     </div>
   </div>
 </div>


 <!-- Bootstrap core JavaScript -->
 <script type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.15/bootstrap-native-v4.min.js"></script>

 </body>

 </html>