<%- include('partials/_header') %> 

<% console.log(cart) %>
  <!-- Page Content -->
  <div class="container container-main">

      <div class="row">
        <div class="col">
          <h3 class="text-center">Votre Panier</h3>

          <table class="table">
            <thead>
              <th>Article</th>
              <th>Quantité</th>
              <th>Prix HT</th>
            </thead>
            <tbody>
                <% 
                console.log(cart);
                    if(cart) {
                    for (product of cart) { %>
                    <tr>
                      <td>
                        <img class="img-thumbnail img-cart-list" src="/images/<%= product.name %>.jpg" alt="Image du produit <%= product.name %> ">
                        <div class="item-description">
                            <h5 class="item-title"><%= product.name %></h5>
                            <p class="item-prize"><%= product.price %> €</p>
                        </div>
                      </td>
      
                      <td>
                        <strong><%= product.quantity %></strong>
                        <a href="/cart/add/<%= product.id %>">+</a> / <a href="#">-</a>
                      </td>
      
                      <td>
                        <p class="item-subtotal"><%= product.price * product.quantity %> €</p>
                      </td>
                    </tr>

                <% }} %>

              <!-- Frais de port -->
              <tr>
                <td class="text-right" colspan="2">
                  Frais de port
                </td>
                <td class="item-subtotal">
                  $9.99
                </td>
              </tr>

              <tfoot>
                <tr>
                  <td class="text-right" colspan="2">
                    Total HT
                  </td>
                  <td class="item-subtotal">
                    $84.96
                  </td>
                </tr>

                <tr>
                  <td class="text-right" colspan="2">
                    TVA 20%
                  </td>
                  <td class="item-subtotal">
                    $16.99
                  </td>
                </tr>

                <tr class="row-total">
                  <td class="text-right" colspan="2">
                    Total TTC
                  </td>
                  <td class="item-total">
                    $101.94
                  </td>
                </tr>

              </tfoot>

            </tbody>

          </table>

          <div class="row">
            <div class="col text-right">
                <div class="btn btn-success">
                  Passer Commande
                </div>
            </div>
          </div>

        </div>
      </div>
  </div>


<%- include('partials/_footer.ejs') %>
